*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #fff;
}
body{
    background-color: #00334e ;

}

html{
    font-size: 62.5%;
}

a, i, span, li{
    text-decoration: none;
    list-style-type: none;
}

/* ul{
    display: flex;
    list-style-type: none;
} */

/* header */
/* header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1024px !important;
    margin: 0 auto;
    padding: 1rem;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

header .logo  img {
    max-width: 15rem;
}


header .lest .links a{
    padding: 1rem;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    
}

header .icons > a{
    color: #fff;
    display: inline-block;
    background: crimson;
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    font-weight: bold; 
    font-size: 1.5rem;
    margin:  .5rem 1rem;
}

header .bar .fa-bars{
    display: none;
    font-size: 3rem;

} */
/* end of header */

.container {
    max-width: 1280px !important;
    margin: 0 auto;
    background-color: #fff;
}

/* hero */
.hero img{
   max-width: 100%;
   margin-top: rem;
}
/* end of hero */

/* content */
.content{
    padding:0 2rem;
}

.content h1{
    margin-top: 5rem;
    text-align: center;
    background-image: linear-gradient(-225deg, #231557 0, #4f86f7 25%, #c92519 30%, #00f 45%, #32127a 50%, #0d9494 67%, #708090 80%, #d1e231 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: 3s linear infinite textclip;
    display: inline-block;
    font-size: 3.5rem;
    font-weight: bold;
}

@keyframes textclip {
    from {
        background-position: 500% center;
    }
}

.content p span{
    color: red;
}

.content p{
    color: #666;
    font-size: 2rem;
    margin-top: 2rem;
}

.content h2{
    color: deepskyblue;
    font-size: 3.5rem;
    font-weight: bold;
    margin: 3rem 0;
}

.content .item{
    line-height: 2.5;
}

.content .item .fa-circle{
    color: #000000;
    margin-right: 1.5rem;
    font-size: .8rem;
}

.content .item span{
    color: #292929;
    font-size: 2rem;
   
}
/* end of content*/

/* card */
.card{
    margin-top: 5rem;
}

.card .title em{
    margin-left: 5rem;
    font-size: 2.5rem;
    color: #000;
}

.card .title span{
    color: red;
}

.box{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 1.5rem;
   padding: 2rem;
}

.box-item{
    border: .2rem solid #eee;
    border-radius: 8rem;
    margin: 5rem 0;
    padding: 1.5rem;
    background: #fff;
}

.box-item .image{
    max-width: 100%;
    
}

.box-item .image img{
    width: 100%;
    transition: all .2s linear;
}

.box-item:hover .image img{
    transform: scale(1.1);
}

.description {
    text-align: center;
}

.description .title{
    color: deepskyblue;
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 3rem;
}

.description p{
    color: #000;
    font-size: 2rem;
    margin: 2rem 0;
}

.description .btn{
    display: inline-block;
    background: rgb(0, 140, 187) ;
    padding: .8rem 1.8rem;
    border-radius: .5rem;
    font-size: 2rem;
    font-weight: bold;
}

/* responsive  */
@media screen and (max-width: 991px) {
    html{
        font-size: 55%;
    }
    .box{
        display: grid;
        grid-template-columns: repeat(3, 1fr) !important;
    }

    header .links a{
        font-size: 1.5rem;
        font-weight: bold;
        padding: 0 .1rem;
    }

    header .icons > a{
        font-size: 1.5rem;
        margin:  .5rem .5rem;
    }
}

@media screen and (max-width: 768px) {
    .box{
        display: grid;
        grid-template-columns: repeat(2, 1fr) !important;
     }
    
     .lest {
        position: absolute;
        display: none;
        top: 0;
        left: 0;
        flex-direction: column;
        padding: 2rem ;
        background-color: #fff;
        width: 65%;
        height: 100vh!important;
     }
      
    .lest.active{
        display: flex;
     }

     header .lest .links {
        margin-top:  3rem;
        border-bottom: .1rem solid #eee;
     }

     header .lest .links a,
     header .lest .links a i{
        color: #686868;
        font-weight: bold;
        font-size: 1.7rem;
     }

     header .lest .links a i{
        float: right;
        text-align: center;
     }

     header .bar .fa-bars{
        display: block
    }
     header .links a{
        font-size: 1.3rem;
       
    }
    header .icons > a{
        
        font-size: 1.3rem;
        margin:  .5rem .3rem;
    }

}
@media screen and (max-width: 450px) {
    html{
        font-size: 50%;
    }
    .box{
        display: grid;
        grid-template-columns: repeat(1, 1fr) !important;
     }
     header .links a{
        font-size: .5rem;
        
    }
    header .icons > a{
        font-size: .5rem;
        margin:  .5rem .3rem;
    }
} 
/* end of card

/* slide */
.slider{
    margin-top: 5rem;
    padding: 2rem;
}

.slide{
    background-color: #fff;
    margin-bottom: 5rem;
}

.card-slide img{
    width: 100%;
    padding: 1rem;
    object-fit: cover;
}
.card-slide h2,
.card-slide p{
    color: #000;
    text-align: center;
}

.card-slide h2{
    font-size: 2rem;
    color: deepskyblue ;
    margin-bottom: 2rem;
}

.card-slide p{
    font-size: 1.7rem;
    margin-bottom: 3rem;
}

.slide .swiper-button-next,
.slide .swiper-button-prev
{
    color: #666;
}
/* end of slide */

/* footer */
.footer{
    margin-top: 2rem;
    background: #292929;
    padding: 4rem 1rem ;
    cursor: pointer;
}

.footer .info{
    display: grid;
    grid-template-columns: repeat(4, 1fr) !important;
    gap: 2rem;
}


.footer .info .link-info img{
    width: 15rem;
    margin: 4rem 0;
}

.footer .info .link-info p{
    font-size: 1.7rem;
    line-height: 1.7;
    margin-bottom: 3rem;
}

.footer .info .link-info p span {
    color: red;
}

.footer .info h3{
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.footer .info .link-info .circle {
    margin-top: 2rem;
}
.footer .info .link-info .circle i{
    margin-right: 1rem;
    font-size: 1rem;
}
.footer .info .link-info .circle span{
    font-size: 1.5rem;
}

.footer .info .link-info .contect{
    margin-top: 3rem;
}

.footer .info .link-info .contect i{
    font-size: 3rem;
    margin-left: .5rem;
}

.footer .info .link-info .contect i:hover{
    color: deepskyblue;
}

.logo-footer img{
    margin: 0 auto;
    text-align: center;
    margin-top: 3rem;
}
.logo-footers img{
    margin-top: 3rem;
    text-align: center;
    width: 100%;
}

/* responsive  */
@media screen and (max-width: 991px) {
    html{
        font-size: 55%;
    }
    .footer .info{
        display: grid;
        grid-template-columns: repeat(3, 1fr)!important;
    }
}
@media screen and (max-width: 768px) {
    .footer .info{
        display: grid;
        grid-template-columns: repeat(2, 1fr)!important;
    }

}
@media screen and (max-width: 450px) {
    html{
        font-size: 50%;
    }
    .footer .info{
        display: grid;
        grid-template-columns: repeat(1, 1fr)!important;
    }
} 
/* end of card



@keyframes marquee {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}








